<div class="wrapper wrapper-full-page header-filter" filter-color="black"
  style="background-image: url('../../../assets/img/mountains_login.jpg'); background-size: cover; background-position: top center;">
  <div class="page-header register-page">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">You're Almost There!</h2>
            <i class="material-icons">forward_to_inbox</i>
            <div class="card-body">
              <div class="col-md-6">              
                  <div class="info info-horizontal">
                    <div class="description">
                      <h6 class="info-title text-center">Check your email!</h6>
                      <p class="description text-center">
                        We have just sent a verification link to the email you have provided. Please click the link in
                        the email to finish setting up your account. We hope to see you soon!
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
