<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-center">
      <ul>
        <li>
          <a href="https://github.com/Alpha-Dynamite-Squadron" target="_blank">About the Developers</a>
        </li>
        <li>
          <a href="https://www.instagram.com/jeananava/?hl=en" target="_blank">Who Made our Logo?</a>
        </li>
        <li>
          <!-- <a href="#" target="_blank">Report a Bug</a> -->
          <a>Report a Bug</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
