div.card-footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

span {
  padding-top: 2px;
}

span.register-link {
  padding-bottom: 10px;
}

i {
  margin-top: 10px;
  color: #00bcd4;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

#forgotPassSpan,
#noAccountSpan {
  margin-top: 5px;
  color: #00bcd4;
}

#forgotPassSpan:hover,
#noAccountSpan:hover {
  cursor: pointer;
}