div.card-footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

span {
  padding-top: 2px;
}

span.register-link {
  padding-bottom: 10px;
}

#forgotPassSpan {
  margin-top: 5px;
  color: #00bcd4;
}

#forgotPassSpan:hover {
  cursor: pointer;
}