<div class="wrapper wrapper-full-page">
  <div 
    class="page-header login-page header-filter" 
    filter-color="black" 
    style="background-image: url('../../../assets/img/mountains_login.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form" method="" action="">
            <div class="card card-login">
              <div class="card-header card-header-info text-center">
                <h4 class="card-title">Login Page</h4>
              </div>
              <div class="card-body">
                <p class="card-description text-center">Your Assignments are Waiting!</p>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input type="email" class="form-control" placeholder="Academic Email...">
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password...">
                  </div>
                </span>
              </div>
              <span class="text-center"><a href="#something">Forgot Password?</a></span>
              <div routerLinkActive="active" class="card-footer justify-content-center">
                <a routerLink="/home/main" (click)="login()" class="btn btn-info btn-primary btn-round">Login</a>
              </div>
              <span 
                routerLinkActive="active" 
                class="text-center register-link">
                <a routerLink="/register">No Account? Register Here!</a>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
