<div class="row">
  <div class="card card-product">
    <div routerLinkActive="true" class="card-body">
      <h4 class="card-title">
        <i class="material-icons pull-left">{{ course.imageID }}</i>
        <a routerLink="/components/course">{{ course.disciplineLetters }}{{ course.courseNumber }}</a>
        <i class="material-icons pull-right">{{ course.imageID }}</i>
      </h4>
      <div class="card-description">
        {{ course.nameOfClass }}
        <br>
        <h6>Section# {{ course.sectionNumber }}</h6>
      </div>
      <div class="row">
        <button type="button" (click)="dropCourse()" class="btn btn-danger btn-round">Drop Course</button>
      </div>
    </div>
    <div class="card-footer">
      <div class="price">
        <h4>{{ course.instructorName }}</h4>
      </div>
      <div class="stats">
        <p class="card-category">
          <i class="material-icons">date_range</i>
          {{ course.academicTerm }} Semester {{ course.academicYear }}
        </p>
      </div>
    </div>
  </div>
</div>