div.card-header.card-header-image,
div.row {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00bcd4;
}

i.material-icons.pull-left,
i.material-icons.pull-right {
  color: #00bcd4;
}

a {
  color: #00bcd4;
  font-weight: bold;
  font-size: larger;
}

a:hover {
  cursor: pointer;
}

p {
  font-size: medium;
}

.card.card-product {
  margin: 7.5px 0px;
}