<div *ngIf="myCourses" class="main-content">
  <div *ngIf="myCourses" class="container-fluid">
    <div class="row">
      <button mat-raised-button class="btn btn-info btn-fill" routerLinkActive="active" routerLink="/courses/search">Find More Courses</button>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-11" *ngFor="let course of courses">
        <app-course-tile [course]="course"></app-course-tile>
      </div>
    </div>
  </div>
</div>
<!-- This div is so that the syling is correct depending on the current route -->
<div *ngIf="!myCourses">
  <div *ngIf="myCourses" class="row">
    <button mat-raised-button class="btn btn-info btn-fill" routerLinkActive="active" routerLink="/courses/search">Find More Courses</button>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-11" *ngFor="let course of courses">
      <app-course-tile [course]="course"></app-course-tile>
    </div>
  </div>
</div>
