<ul class="timeline timeline-simple mt-0 mb-0">
  <li class="timeline-inverted mt-0 mb-0">
    <div class="timeline-badge info">
      <i class="material-icons">{{ selectedIcon }}</i>
    </div>
    <div class="timeline-panel">
      <button *ngIf="!assignment.isIgnored" type="button" (click)="onSubscribe()" mat-raised-button class="btn btn-danger btn-round pull-right">
        <i class="material-icons">add_alert</i> Ignore Assignment
      </button>
      <div class="timeline-heading">
        <span class="badge badge-info">{{ assignment.customAssignmentName }}</span>
      </div>
      <h4>
        <i id="dueDateIcon" class="ti-time material-icons">date_range</i> Due {{ formattedDueDate }}
      </h4>
      <hr>
      <div class="row">
        <button type="button" id="rememberBtn" (click)="onComplete()" mat-raised-button class="btn btn-info btn-round">
          <i class="material-icons">assignment_turned_in</i>  Complete Assignment
        </button>
        <div *ngIf="assignment.forGrade" class="dropdown">
          <button id="gradeReceivedBtn" mat-raised-button type="button" class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown">
            <i class="material-icons">grading</i> Grade Received
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li>
              <a href="#action">A (90.0 - 100.0)</a>
            </li>
            <li>
              <a href="#action">B (80.0 - 89.9)</a>
            </li>
            <li>
              <a href="#action">C (70.0 - 79.9)</a>
            </li>
            <li>
              <a href="#action">D (60.0 - 69.9)</a>
            </li>
            <li>
              <a href="#action">F (0.0 - 59.9)</a>
            </li>
          </ul>
        </div>
      </div>
      <span class="text-center text-gray pull-right">
        Posted {{ formattedUploadDate }}
      </span>
    </div>
  </li>
</ul>
