<div class="wrapper wrapper-full-page header-filter" filter-color="black"
  style="background-image: url('../../../assets/img/mountains_login.jpg'); background-size: cover; background-position: top center;">
  <div class="page-header register-page">
    <div class="container">
      <div class="row">
        <div class="col-md-7 ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">Finish Your Profile</h2>
            <div class="row">
              <h6 id="emailText" class="text-center text-info">{{ email }}</h6>
            </div>
            <div class="card-body">
              <div class="col-md-7">
                <form [formGroup]="finishRegisterForm" (ngSubmit)="onFinishRegistration()" class="form">
                  <div class="form-group has-default">
                    <mat-form-field class="example-full-width has-label"
                      [ngClass]="{'has-success':validTextType===true}"
                      [ngClass]="displayFieldCss(finishRegisterForm, 'username')">
                      <input type="text" name="username" id="username" matInput placeholder="Username"
                        (ngModelChange)="textValidationType($event)" formControlName="username">
                      <app-field-error-display [displayError]="isFieldValid(finishRegisterForm, 'username')"
                        errorMsg="You must provide a username!"></app-field-error-display>
                    </mat-form-field>
                    <mat-form-field class="example-full-width has-label"
                      [ngClass]="{'has-success':validTextType===true}"
                      [ngClass]="displayFieldCss(finishRegisterForm, 'password')">
                      <input type="password" name="password" id="password" matInput placeholder="Password"
                        (ngModelChange)="passwordValidationRegister($event)" formControlName="password">
                      <app-field-error-display [displayError]="isFieldValid(finishRegisterForm, 'password')"
                        errorMsg="You must enter a new password (minimum length 8)!"></app-field-error-display>
                    </mat-form-field>
                    <mat-form-field class="example-full-width has-label"
                      [ngClass]="{'has-success':validTextType===true}"
                      [ngClass]="displayFieldCss(finishRegisterForm, 'confirmPassword')">
                      <input type="password" name="confirmPassword" id="confirmPassword" matInput
                        placeholder="Confirm Password" (ngModelChange)="confirmPasswordValidationRegister($event)"
                        formControlName="confirmPassword">
                      <app-field-error-display [displayError]="isFieldValid(finishRegisterForm, 'confirmPassword')"
                        errorMsg="Passwords entered do no match!"></app-field-error-display>
                    </mat-form-field>
                    <h6>Enroll in Your Institution</h6>
                    <div class="input-group no-border">
                      <input type="text" name="search" id="search" class="form-control" placeholder="Search..."
                        [formControl]="search">
                      <button type="button" mat-raised-button (click)="queryDatabase()" class="btn btn-info btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                      </button>
                    </div>
                    <mat-form-field *ngIf="searchedInstitutionsBefore">
                      <label class="bmd-label-floating">Institution</label>
                      <mat-select [formControl]="institutionCtrl" #singleSelect>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="institutionFilterCtrl"
                            placeholderLabel="Search for Institution..." noEntriesFoundLabel="No Institutions Found">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let institution of filteredInstitutions | async" [value]="institution">
                          {{institution.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-checkbox class="form-check" type="mat-checkbox" name="terms"
                      formControlName="termsAndConditions" (ngModelChange)="truthyValidationType($event)">
                      I agree to the <a href="#something">terms and conditions</a>.
                    </mat-checkbox>
                    <mat-checkbox class="form-check" type="mat-checkbox" name="notifications"
                      formControlName="receiveNotifications">
                      I would like to receive notifications.
                    </mat-checkbox>
                    <div class="row" class="text-center">
                      <button class="btn btn-info btn-primary btn-round" type="submit" (click)="onFinishRegistration()"
                        [disabled]="!finishRegisterForm.valid || !institutionCtrl.valid || !validTermsType">
                        Create Account
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
