h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00bcd4;
  margin-top: 10px;
}

.card-body, .row, .col-md-5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#emailText {
  font-size: large;
}

div.text-center {
  margin-top: 10px;
}