<div class="main-content">
  <div class="container-fluid">
    <app-update-profile></app-update-profile>
    <br>
    <div class="row profile-summary">
      <div class="col-md-8">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="../../assets/img/default-avatar.png" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">{{ userEmail }}</h6>
            <h4 class="card-title">{{ username }}</h4>
            <p class="card-description">{{ userInstitution }}</p>
            <h6 id="profileRating" class="card-category text-info">Profile Rating {{ userProfileRating }}<i class="material-icons text-warning">star_rate</i></h6>
            <button (click)="logout()" class="btn btn-info btn-round">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>