<div class="main-content">
  <div class="container-fluid">
    <div class="row profile-information">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-icon card-header-info">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title">Edit Profile -
              <small class="category">Tell us about you</small>
            </h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Username</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Academic Email Address</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">First Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Last Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Academic Institution (School)</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">City</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">State</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="bmd-label-floating">Postal Code</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <mat-checkbox class="form-check" [checked]="true">
                      <label class="bmd-label-floating">I would like to receive new assignment notifications.</label>
                    </mat-checkbox>
                    <mat-checkbox class="form-check" [checked]="true">
                      <label class="bmd-label-floating">I would like to receive assignment deadline notifications.</label>
                    </mat-checkbox>
                  </div>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-info pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row profile-summary">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="../../assets/img/developers/ryan_ramos.jpg" />
          </div>
          <div routerLinkActive="active" class="card-body">
            <h6 class="card-category text-gray">Computer Science</h6>
            <h4 class="card-title">Ryan Ramos</h4>
            <p class="card-description">California Polytechnic Institute Pomona</p>
            <a routerLink="/pages/login" class="btn btn-info btn-round">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
