.profile-information,
.profile-summary,
.ng-star-inserted {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* adds breaks to the mat-checkboxes with long labels */
::ng-deep .mat-checkbox-layout {
    white-space: normal !important;
}

#profileRating {
  font-size: small;
}

.material-icons {
  vertical-align: top;
}

.action-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}