<div class="col-md-12">
  <div class="card">
    <form [formGroup]="updateProfileForm" (ngSubmit)="onSaveChanges()" class="form-horizontal" *ngIf="user != null">
      <div class="card-header card-header-info card-header-text">
        <div class="card-text">
          <h4 class="card-title">Update Your Profile</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <label class="col-sm-2 col-form-label text-right">Username</label>
          <div class="col-sm-7">
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}"
              [ngClass]="displayFieldCss(updateProfileForm, 'username')">
              <input type="text" matInput id="username"
                (ngModelChange)="textValidationType($event)" formControlName="username">
              <app-field-error-display [displayError]="isFieldValid(updateProfileForm, 'username')"
                errorMsg="You must provide a username!"></app-field-error-display>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 col-form-label text-right">Profile Avatar</label>
          <div class="col-sm-7">
            <mat-form-field>
              <mat-select name="avatar" formControlName="avatar">
                <mat-option *ngFor="let avatar of avatars" [value]="avatar.value">
                  {{ avatar.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 col-form-label text-right"></label>
          <div class="col-sm-7">
            <mat-checkbox class="form-check" formControlName="receiveNotifications">
              <label class="bmd-label-floating">I would like to receive new assignment notifications.</label>
            </mat-checkbox>
            <mat-checkbox class="form-check" formControlName="receiveDeadlineNotifications">
              <label class="bmd-label-floating">I would like to receive assignment deadline
                notifications. <br><span>(Notifications sent 24 hours before due date)</span></label>
            </mat-checkbox>
            <mat-checkbox class="form-check" formControlName="receiveExcessiveNotifications">
              <label class="bmd-label-floating">I would like to receive excessive notifications.
                <br><span>(Notifications sent every hour until due date)</span></label>
            </mat-checkbox>
          </div>
        </div>
      </div>
      <div id="saveChangesBtn" class="card-footer text-center">
        <button mat-raised-button type="submit" class="btn btn-info">Save Changes</button>
      </div>
    </form>
  </div>
</div>