span {
  font-size: medium;
}

h4 {
  font-size: medium;
}

span.text-center.text-gray {
  font-size: small;
  font-weight: bold;
}

.text-info {
  font-weight: bolder;
  font-size: large;
}

#forgotBtn {
  margin-left: 15px;
  margin-right: 5px;
}

#incompleteBtn {
  margin-left: 5px;
  margin-right: 5px;
}

#dueDateIcon {
  vertical-align: top;
  color: #00bcd4;
}

#gradeReceivedBtn {
  margin-left: 5px;
}

#grade {
  color: #00bcd4;
  font-weight: bolder;
  margin-left: 10px;
  font-size: large;
}