<ul class="timeline timeline-simple mt-0 mb-0" [ngClass]="{'completed': assignment.isDone}">
  <li class="timeline-inverted mt-0 mb-0">
    <div class="timeline-badge info">
      <i class="material-icons">assignment</i>
    </div>
    <div class="timeline-panel">
      <button *ngIf="assignment.isIgnored" type="button" (click)="onSubscribe()" mat-raised-button class="btn btn-info btn-round pull-right">
        <i class="material-icons">add_alert</i> Subscribe to Assignment
      </button>
      <button *ngIf="!assignment.isIgnored" type="button" (click)="onSubscribe()" mat-raised-button class="btn btn-danger btn-round pull-right">
        <i class="material-icons">add_alert</i> Ignore Assignment
      </button>
      <div class="timeline-heading">
        <h6 class="text-info">{{ assignment.assignmentName }}</h6>
      </div>
      <div class="timeline-body">
      </div>
      <h4 class="text-gray">
        <i id="dueDateIcon" class="ti-time material-icons">date_range</i> Due {{ formattedDueDate }}
      </h4>
      <hr>
      <div class="row">
        <button *ngIf="!assignment.iForgot" type="button" id="forgotBtn" mat-raised-button class="btn btn-info btn-round" (click)="onForgot()">
          <i class="material-icons">favorite</i> I Forgot! {{ assignment.iForgotCount }}
        </button>
        <button *ngIf="assignment.iForgot" type="button" id="forgotBtn" mat-raised-button class="btn btn-danger btn-round" (click)="onForgot()">
          <i class="material-icons">favorite</i> I Remembered. {{ assignment.iForgotCount }}
        </button>
        <button *ngIf="assignment.isDone" type="button" id="incompleteBtn" mat-raised-button class="btn btn-info btn-round" (click)="onIncomplete()">
          <i class="material-icons">check</i> Mark Incomplete
        </button>
        <h6 id="grade" *ngIf="assignment.isDone && assignment.forGrade">Grade Received: {{ assignment.grade }}</h6>
      </div>
      <span class="text-center text-gray pull-right">
        Uploaded {{ formattedUploadDate }}
      </span>
    </div>
  </li>
</ul>