<ul class="timeline timeline-simple mt-0 mb-0">
  <li class="timeline-inverted mt-0 mb-0">
    <div class="timeline-badge info">
      <i class="material-icons">{{ selectedIcon }}</i>
    </div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <span class="badge badge-info">{{ selectedAssignmentName }}</span>
        <button mat-raised-button class="btn btn-info btn-round pull-right">
          <i class="material-icons">add_alert</i>  Subscribe to Assignment
        </button>
      </div>
      <div class="timeline-body">
        <p>{{ selectedAssignmentDesc }}</p>
      </div>
      <h4>
        <i id="dueDateIcon" class="ti-time material-icons">date_range</i> Due {{ selectedAssignmentDueDate }}
      </h4>
      <hr>
      <div class="row">
        <button id="forgotBtn" mat-raised-button class="btn btn-info btn-round">
          <i class="material-icons">favorite</i>  I Forgot! {{ forgotCount }}
        </button>
        <button id="rememberBtn" mat-raised-button class="btn btn-info btn-round">
          <i class="material-icons">thumb_up</i>  I Remembered!  {{ rememberedCount }} 
        </button>
      </div>
      <span class="text-center text-gray pull-right">
        Posted {{ assignmentPostedDate }}
      </span>
    </div>
  </li>
</ul>