<div class="wrapper wrapper-full-page header-filter" filter-color="black"
  style="background-image: url('../../../assets/img/mountains_login.jpg'); background-size: cover; background-position: top center;">
  <div class="page-header register-page">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">Create an Account</h2>
            <div class="card-body">
              <div class="col-md-10 ml-auto mr-auto">
                <div class="info info-horizontal">
                  <div class="icon icon-rose">
                    <i class="material-icons">timeline</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Class Assignment & Performance Metrics</h4>
                    <p class="description">
                      We provide you with assignment metrics ranging from class averages, due dates, and
                      more for all of your courses' assignments and exams.
                    </p>
                  </div>
                </div>
                <div class="info info-horizontal">
                  <div class="icon icon-primary">
                    <i class="material-icons">code</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Built with Angular and Node.js</h4>
                    <p class="description">
                      We've developed this website using Angular 9, Bootstrap 4, and Material. Our backend utilizes
                      Node.js to handle
                      our HTTP Requests.
                    </p>
                  </div>
                </div>
                <div class="info info-horizontal">
                  <div class="icon icon-info">
                    <i class="material-icons">group</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Target Audience</h4>
                    <p class="description">
                      You Forgot is a Homework Reminder Application made by Students for Students.
                    </p>
                  </div>
                </div>
                <form class="form" (ngSubmit)="register()" #preRegForm="ngForm">
                  <div class="form-group has-default">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">mail</i>
                        </span>
                      </div>
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Academic Email Address..."
                        name="email"
                        [(ngModel)]="registerInfo"
                        required>
                    </div>
                  </div>
                  <div class="row register-button text-center">
                    <button class="btn btn-info btn-primary btn-round" type="submit" [disabled]="!preRegForm.valid">Register</button>
                  </div>
                  <div class="login-link">
                    <span routerLinkActive="active" class="text-center">
                      <a routerLink="/login">Already Have an Account? Click Here to Login!</a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
