<div class="wrapper wrapper-full-page header-filter" filter-color="black"
  style="background-image: url('../../../assets/img/mountains_login.jpg'); background-size: cover; background-position: top center;">
  <div class="page-header register-page">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">Create an Account</h2>
            <div class="card-body">
              <div class="col-md-10 ml-auto mr-auto">
                <div class="info info-horizontal">
                  <div class="icon icon-rose">
                    <i class="material-icons">timeline</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Class Assignment & Performance Metrics</h4>
                    <p class="description">
                      We provide you with assignment metrics ranging from class averages, due dates, and
                      more for all of your courses' assignments and exams.
                    </p>
                  </div>
                </div>
                <div class="info info-horizontal">
                  <div class="icon icon-primary">
                    <i class="material-icons">code</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Built with Angular and Node.js</h4>
                    <p class="description">
                      We've developed this website using Angular 9, Bootstrap 4, and Material. Our backend utilizes
                      Node.js to handle
                      our HTTP Requests.
                    </p>
                  </div>
                </div>
                <div class="info info-horizontal">
                  <div class="icon icon-info">
                    <i class="material-icons">group</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Target Audience</h4>
                    <p class="description">
                      You Forgot is a Homework Reminder Application made by Students for Students.
                    </p>
                  </div>
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="form">
                  <div class="form-group has-default">
                    <div class="input-group">
                      <mat-form-field class="example-full-width has-label"
                        [ngClass]="{'has-success':validEmailRegister===true}"
                        [ngClass]="displayFieldCss(registerForm, 'email')">
                        <input name="email" type="email" id="email" placeholder="Academic Email Address..." matInput
                          class="form-control" (ngModelChange)="emailValidationRegister($event)"
                          formControlName="email">
                        <app-field-error-display [displayError]="isFieldValid(registerForm, 'email')"
                          errorMsg="You must provide an academic email!">
                        </app-field-error-display>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row register-button text-center">
                    <button class="btn btn-info btn-primary btn-round" type="submit"
                      [disabled]="!registerForm.valid">Register</button>
                  </div>
                  <div class="login-link">
                    <span routerLinkActive="active" class="text-center">
                      <a routerLink="/login">Already Have an Account? Click Here to Login!</a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>