.card-body, .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#resetPasswordBtn {
  margin-top: 10px;
}

#successText {
  font-size: large;
}

#passwordMismatch {
  padding-left: 30px;
  margin-top: 15px;
}

div.text-center {
  margin-top: 5px;
  padding-left: 30px;
}