i {
  margin-top: 10px;
  color: #00bcd4;
  font-size: xx-large;
}

.col-md-4, 
.card-body,
.row, 
i {
  display: flex;
  align-items: center;
  justify-content: center;
}

#resetPasswordBtn {
  margin-top: 20px;
}

#successText {
  font-size: large;
}