<div class="wrapper wrapper-full-page header-filter" filter-color="black"
  style="background-image: url('../../../assets/img/mountains_login.jpg'); background-size: cover; background-position: top center;">
  <div class="page-header register-page">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">Reset Your Password</h2>
            <h6 id="successText" class="text-center text-info">Verification Successful!</h6>
            <i class="material-icons">lock_outline</i>
            <div class="card-body">
              <div class="col-md-8">
                <form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()" class="form">
                  <div class="form-group has-default">
                    <div class="input-group">
                      <mat-form-field class="example-full-width has-label"
                        [ngClass]="{'has-success':validTextType===true}"
                        [ngClass]="displayFieldCss(passwordResetForm, 'password')">
                        <input name="password" type="password" id="password" placeholder="Enter New Password..."
                          matInput class="form-control" (ngModelChange)="passwordValidationReset($event)" formControlName="password">
                        <app-field-error-display [displayError]="isFieldValid(passwordResetForm, 'password')"
                          errorMsg="You must enter a new password (mininimum length 8)!">
                        </app-field-error-display>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="form-group has-default">
                    <div class="input-group">
                      <mat-form-field class="example-full-width has-label"
                        [ngClass]="{'has-success':validTextType===true}"
                        [ngClass]="displayFieldCss(passwordResetForm, 'confirmPassword')">
                        <input name="confirmPassword" type="password" id="confirmPassword" placeholder="Confirm Password..."
                          matInput class="form-control" (ngModelChange)="passwordValidationReset($event)" formControlName="confirmPassword">
                        <app-field-error-display [displayError]="isFieldValid(passwordResetForm, 'confirmPassword')"
                          errorMsg="Passwords entered do no match!">
                        </app-field-error-display>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row" class="text-center">
                    <button id="resetPasswordBtn" class="btn btn-info btn-primary btn-round" (click)="resetPassword()"
                      type="submit" [disabled]="!passwordResetForm.valid">
                      Reset Password
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>