h4 {
  font-weight: bold;
  color: #00bcd4;
}

app-new-assignment {
  width: 80%;
}

/* adds breaks to the mat-checkboxes with long labels */
::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}

span {
  font-size: large;
}

hr {
  margin-bottom: 25px;
}

#postAssignmentBtnRow {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: left;
  justify-content: left;
}
