<div *ngIf="myAssignments" class="main-content">
  <div *ngIf="myAssignments" class="container-fluid">
    <div id="postAssignmentBtnRow" class="row" *ngIf="createNewAssignment">
      <app-new-assignment></app-new-assignment>
    </div>
    <div id="postAssignmentBtnRow" class="row" *ngIf="!createNewAssignment">
      <button mat-raised-button class="btn btn-info btn-fill" (click)="createNewAssignment = !createNewAssignment">Post
        New Assignment</button>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-11" *ngFor="let assignment of assignments">
        <app-personal-assignment *ngIf="!assignment.isDone" [assignment]="assignment"></app-personal-assignment>
      </div>
    </div>
  </div>
</div>
<!-- This div is so that the syling is correct depending on the current route -->
<div *ngIf="!myAssignments">
  <hr>
  <div class="row">
    <div class="col-md-11" *ngFor="let assignment of assignments">
      <app-personal-assignment *ngIf="!assignment.isDone" [assignment]="assignment"></app-personal-assignment>
    </div>
  </div>
</div>